h1, h2 {
    border-bottom: 3px solid #444;
    color: #700;
    margin-bottom:3px;
}

div.features { margin-top:32px; }
div.features div.ftr_imgs div { /*text-align:center;*/ padding:8px; float:left; }
div.features div.ftr_imgs div h4 { margin-bottom:3px; }
div.features div.ftr_imgs div img {
    width:188px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
    border:5px solid #C2A27D;
}
div.features .clear-last { clear:both; padding:8px; }

#github-ribbon {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 10;
}
#github-ribbon a {
	font-size: 13px;
	font-family: Helvetica, Arial, sans-serif;
	text-decoration: none;
	text-align: center;
	font-weight: bold;

	color: #fefdf9;
	background-color: #a00;

	width: 24em;
	padding: 0.33em 0;
	border-style: double;
	border-color: #c66;
	border-width: 3px 0px;

	position: absolute;
	top: 0;
	right: 0;

	-webkit-transform: rotate(33deg);
	-moz-transform:    rotate(33deg);
	-o-transform:      rotate(33deg);
	transform:         rotate(33deg);

	-webkit-transform-origin: 11em 14em;
	-moz-transform-origin:    11em 14em;
	-o-transform-origin:      11em 14em;
	transform-origin:         11em 14em;

	-webkit-box-shadow: 1px 1px 8px #947C5F;
	-moz-box-shadow:    1px 1px 8px #947C5F;
	box-shadow:         1px 1px 8px #947C5F;

	text-shadow: 0 0 0.5em rgba(0, 0, 0, 0.33);
}
