.comic-subscription:nth-child(4n-2),
.comic-subscription:nth-child(4n-1) {
	background-color: #eee;
}

.comic-subscriptions .headerNavigation_new {
	padding-top: 4px;
	padding-bottom: 4px;
	text-align: center;
}
.comic-subscriptions .headerNavigation_new:nth-child(1) {
	padding-left: 10px;
	text-align: left;
}

.comic-subscription--title td {
	padding-top: 5px;
}

.comic-subscription--actions td {
	font-size: 0.56em;
	padding-bottom: 7px;
}