#IReC div.hi_page_content .account_leftbar ul {
	list-style-type: none;
	padding-left: 0px;
}

#IReC div#profile_page div.menu table td div.arrow {
	line-height: 1px;
}

#IReC input#q {
	margin-bottom: 0px;
}
