
#title-search-wrapper {
	margin: 0.5em auto;
	text-align: center;
}
#title-search-wrapper label,
#title-search-wrapper input {
	font-size: 2em;
}
#title-search-wrapper label+input {
	margin-left: 0.25em;
}

.subscription-selects select[name^=title] {
	width: 100%;
	min-height: 3em;
	resize: vertical;
}
.subscription-selects select[name^=title] option:disabled {
	display: none;
}
